@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    margin: 1rem;
font-size: 1rem;
font-family: montserrat;
background-color: black;
color: antiquewhite;
}
.btn {
    margin-top: 1rem;
padding: 1rem;
    background-color: rgb(0, 15, 92);
    font-size: 2rem;
    border: none;
    border-radius: 3rem;
    box-shadow: 1px 1px 50px antiquewhite;
    color: whitesmoke;
}

.btn:hover{
    opacity: 0.9;
cursor: pointer;
}

.btn:active{
    opacity: 0.7;
}


html:has(.titulo:hover) {
    background-color: white;
    color: white;
}

.bobo{
    margin: 4rem;
    color: black;
}

a{
    color: rgb(183, 183, 183);
}

a:visited{
    color: rgb(183, 183, 183);
}